.github/**
.vscode/**
.vscode-test/**
.husky/**
.claude/**
src/**
build/**
.gitignore
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.touch
*.cache
.node-version
.comate

# Local design / tooling artifacts
*.code-workspace
*.eno-project
logo.af
logo.af~lock~
